# VITE_SUPABASE_URL: URL do seu projeto no Supabase
VITE_SUPABASE_URL="https://buqqwblupvlikshzdoba.supabase.co"

# VITE_SUPABASE_ANON_KEY: Chave pública de cliente (anon key)
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# VITE_ADMIN_PASSWORD: Senha de acesso ao painel de administração
VITE_ADMIN_PASSWORD="Mr748197/"
